<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
  {{block 'head'}}{{ /block }}
</head>
<body>
  {{ include './header.html' }}

  <!-- 给要引用的页面留坑 -->
  {{ block 'content' }}
  <h2>我是模板引擎的默认内容</h2>
  {{ /block }}

  {{ include './footer.html' }}

  <script src='/node_modules/jquery/dist/jquery.js'></script>
  <script src='/node_modules/bootstrap/js/dist/index.js'></script>
  {{ block 'script' }}{{ /block }}
</body>
</html>